<div class="mt-4">
  <h2>Dodaj nową aukcję</h2>
  <section class="mt-2 row">
    <div class="col-6">
      <img class="img-thumbnail" alt="Podgląd fotografii"
        [src]="'https://picsum.photos/id/' + imgId + '/600/600.jpg'" />
    </div>
    <div class="col-6">
      <form #addAuctionForm="ngForm" (ngSubmit)="handleFormSubmit(addAuctionForm)">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-edit"></i></span>
          </div>
          <input ngModel #title="ngModel" type="text" name="title" class="form-control" placeholder="Nazwa aukcji"
            required />
          <div *ngIf="title.touched && title?.errors?.required">
            Pole jest wymagane
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-tag"></i></span>
          </div>
          <input ngModel type="number" name="price" class="form-control" placeholder="Cena aukcji" />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-image"></i>
            </span>
          </div>
          <input [(ngModel)]="imgId" type="number" name="imgUrl" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <textarea ngModel rows="5" class="form-control" name="description" placeholder="Opis aukcji"></textarea>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" type="submit" [disabled]="addAuctionForm.invalid">
            <i class="fa fa-gavel"> </i>
            Dodaj aukcję
          </button>
        </div>
      </form>
    </div>
  </section>
</div>
