<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span (click)="handleMenuToggle()" class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{show: showMenu}" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let item of menuItems" class="nav-item">
        <a class="nav-link" [href]="item.link">{{item.name}}</a>
      </li>
      <li>
        <i class="fa fa-user fa-spin"></i>
      </li>
    </ul>
  </div>
</nav>
